$one: 1

@mixin row 
  display: flex
  flex-direction: row

@mixin no_margin
  margin:0
  padding: 0
  
@media (min-width: 1100px)
  .container
    @include row
    height: 100vh
  .item
    display: grid
    justify-content: center
    align-items: center
    width: 25%
    height: 100vh
  
.wide 
  width: 75%
  height: 100vh
  animation: extendDiv 0.5s 
.content
   margin: 100px
  
@media (max-width: 1100px)
  .container 
    border: 2px solid red
  .item
    display: grid
    justify-content: center
    align-items: center
    height: 25vh
  .wide
    width: 100%
    height: 50vh
    border: 2px solid green
    animation: none
  .content
    margin: 40px
  .shortcontent
    display: none
    
@keyframes extendDiv
  0%
    width: 25%
  100%
    width: 75%  
@keyframes displayDiv
  0%
    opacity: 0
  100%
    opacity: 100

  
.title 
  width: max-content
  height: 30px
  font-size: 6mm
  font-family: Arial, Helvetica, sans-serif
  color: white
  margin-bottom: 30px
  &::hover
  cursor: pointer

.content
  color: white
  animation: displayDiv 1.0s
  p
    margin-top: 0
    margin-bottom: 10px
    font-family: Arial, Helvetica, sans-serif
    line-height: 1.5em
  h4
    margin-bottom: 10px

.colorReload
  position: fixed
  width: 30px
  height: 30px
  border-radius: 50%
  background-color: black
  bottom: 20px
  right: 20px
  &:hover
    cursor: pointer

.techstack
  @include row

.techstack_item
  color: white
  font-size: small
  width: max-content
  border: 1px solid white
  padding: 6px
  margin-right: 10px
  border-radius: 2px
  &:hover
    cursor: default

.socials
  @include row
  align-items: center
  .techstack_item
    &:hover
      cursor: pointer

@mixin icon
  width: 24px
  height: 24px
  background-repeat: no-repeat
  background-position: center
  margin-left: 10px
  margin-right: 10px
  background-size: cover
  filter: invert(100%) sepia(2%) saturate(9%) hue-rotate(338deg) brightness(101%) contrast(101%)
  &:hover
    cursor: pointer

.subtitle
  margin-left: 0.4em
  margin-right: 0.4em
  text-decoration: underline

.manager
  @include icon
  margin-left: 0
  background-image: url('../styles/manager.svg')
  &:hover
    cursor: default
.owner
  @include icon
  margin-left: 0
  background-image: url('../styles/owner.svg')
  &:hover
    cursor: default

.linkedin
  @include icon
  background-image: url('../styles/linkedin.svg')
.youtube
  @include icon
  background-image: url('../styles/youtube.svg')
.github
  @include icon
  background-image: url('../styles/github.svg')
  margin-left: 20px

.skill_title
  @include row
  align-items: center
  margin-bottom: 10px
  h4
    @include no_margin


@keyframes lineAppear
  0%
    width: 0
  100%
    width: 100%

.linkLine 
    width: auto
    border-bottom: 2px solid white
    opacity: 0
.link 
    width: max-content
    color: white
.link:hover 
    cursor: pointer
.link:hover > .linkLine
    opacity: 1
    border-bottom: 2px solid white
    animation: lineAppear 0.5s ease

.tooltip
  position: fixed
  color: white
  height: 20px
  font-size: small
  background-color: black
  border-radius: 2px
  padding: 2px 7px
  bottom: 25px
  right: 55px
  &:hover
    cursor: pointer